@if (ViewData.ModelState.ErrorCount > 0)
{

    <div id="Erros" class="box-erro">

        <span onclick="fecharErros('Erros')" class="close-btn material-symbols-outlined">close</span>
        <h3 id="msgRetorno">Erros encontrados</h3>

        <div asp-validation-summary="All"></div>

    </div>
}

